{% extends 'base.html.twig' %}

{% block body %}
    <h2>Catégories</h2>

    {% include 'article-category/article-category-list.html.twig' %}

    <h2>Articles</h2>

    {% include 'article/article-list.html.twig' %}
{% endblock %}