{% extends 'base.html.twig' %}

{% set title = 'Erreur 403' %}

{% block body %}
    <div class="row text-center">
        <p>Vous n'avez pas le droit d'accéder à la page demandée.</p>
    </div>
{% endblock %}