{% extends 'base.html.twig' %}

{% set title = 'Erreur serveur inconnue' %}

{% block body %}
    <div class="row text-center">
        <p>Une erreur serveur est survenue.</p>
    </div>
{% endblock %}